

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Contenedor{

    /* border:2px solid red; */
    height: 50vh;
    width: 41%;
    display: grid;
    grid-template-columns: 250px 120px 250px;
    grid-template-rows: 160px 200px;

}


.A{

    background-color: rgb(107, 245, 125);
    text-align: center;
    color: aliceblue;
}
.B{
    background-color:rgb(255, 163, 78)
    text-align: center;
    color: aliceblue;
}
.C{
    background-color:orangered
}
.D{
    background-color:rgba(255, 0, 0, 0.918)
}   
.E{
    background-color:
}
.F{
    background-color:
}


