



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.Main{
  /* border: 2px solid red; */
  background-image: url(assets/tech-blogs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
 
}


.Cabecera{
  
  /* border: 2px solid rgb(255, 255, 255); */
  /* background-color: rgb(0, 0, 0); */
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-content: center;

   
}

.LogoyFrase{

  /* border:2px solid red; */
  height: 50%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;


}
.LogoyFrase img{

  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}


.ClassBarraLinks{

  /* border: 2px solid purple;  */
  height: 40%;
  /* background-color: rgb(212, 175, 55); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  

 
}
.ClassLinks{

  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  
  
  
}

.Link{

   color: white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: lighter;
   text-decoration: none;
  
 
}
  .CuerpoMensaje{

    /* border:2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


  }


  .CuerpoMensaje{

    border:2px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }


  .CuerpoMensajeimg{

    border: 2px solid yellow;
    height: 70%;
    width: 50%;
 
  }



.Footer{
    border:2px solid white;
    background-color: rgb(212, 175, 55);
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    position: absolute;
   
  }

  .Footer img{

    height: 20%;
    width: 20%;
   
  }
