



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Main{
    
    background-image: url(imagenes/backgroundcontacto.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
   
}


  .Cabecera{
    
    /* border: 2px solid rgb(255, 255, 255); */
    background-color: rgb(0, 255, 174);
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-content: space-between;
    font-family: 'Poppins', sans-serif;
    font: weight 600px;
     
  }

  .LogoyFrase{

    /* border:2px solid red; */
    height: 70%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


  }
  .LogoyFrase img{

    height: 100%;

  }


.ClassBarraLinks{

    /* border: 2px solid purple;  */
    height: 30%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
 
   
 }
 .ClassLinks{
 
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    
    
    
 }
 
 .Link{
 
     color: white;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: lighter;
     text-decoration: none;
    
   
  }

 

.CuerpoMensaje{

    /* border:2px solid rgb(255, 0, 0); */
    height: 75%;
    width: 96%;
    font-family: 'Poppins', sans-serif;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    

}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}



.Footer{
  /* border:2px solid white; */
  background-color: rgb(0, 255, 174);
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
 
}
.Footer img{

  height: 20%;
  width: 20%;
 
}