

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Body{
    
    background-color: RGB(39,76,227);
    
}


.ClassBarraLinks{

    /* border: 2px solid purple;  */
    height: 30%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
 
   
 }
 .ClassLinks{
 
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    
    
    
 }
 
 .Link{
 
     color: white;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: lighter;
     text-decoration: none;
    
   
  }
  .Cabecera{

    border: 2px solid black;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap:20px;
  }

  
 