* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  --myfontInstavar: 'Lobster', cursive;
  --myfontvar2: font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;




}

.Main {

  /* border: 2 px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;

}

.Cabecera {


  /* border: 2px solid rgb(0, 0, 0); */
  height: 4%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;



}

.BodydeWeb {

/* border: 2px solid red; */
  height: 570px;
  width: 1215.6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: rgb(207, 209, 213, 1);
  gap: 10px;
}

.Imagen {

  /* border: 2px solid rgb(0, 255, 30); */
  height: 538.84px;
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.imagen img {

  /* border:2px solid violet; */
  max-width: 100%;
  display: block;
  height: 100%;
  width: 350px;


}

.Acceso {

  /* border: 2px solid rgb(0, 21, 255); */
  height: 538.84px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 6px;



}

.Login {

  border: 1px solid rgb(202, 202, 202);
  height: 320px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font: inherit;
  padding-top: 30px;


}

.Titulo {

  /* border:2px solid brown; */
  height: 50px;
  width: 270px;
  font-family: var(--myfontInstavar);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 34px;
  /* padding-top:20px; */





}

.Inputs {
  /* border:2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  padding-top: 25px;







}

.Input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  height: 28px;
  width: 223px;
  border-radius: 2px;
  text-align-last: left;
  border: 1px solid rgb(202, 202, 202);
  background-color: rgb(246, 246, 246);




}


.form {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 5px;
}




.Input ::placeholder {


  font-family: var(--myfontvar2);
  font-size: xx-small;
  text-align: left;


}

.RecordarInicio {

  /* border:2px solid red; */
  height: 30px;
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: black;
  font-size: 9px;
  gap: 7px;
  padding: 8px;



}


.Button {

  /* border:2px solid palevioletred; */
  height: 30px;
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.InputButton {

  height: 25px;
  width: 220px;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(77, 181, 249);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  ;
  color: white;
  border: none;
  font-size: small;



}

.Linea {

  border: 0.5px solid rgb(223, 218, 216);
  width: 90px;

}

.DivisionO {
  /* border:2px solid green; */
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  font-family: var(--myfontvar2);
  gap: 10px;
  color: rgb(152, 139, 139)
}

.InicioFacebook {

  /* border:2px solid red; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: rgba(56, 81, 133);
  font-size: small;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  height: 20px;
  width: 90%;
  gap: 20px;





}



.ContraOlvidada {

  /* border: 2px solid blue; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  ;
  ;
  color: rgba(56, 81, 133);
  font-size: x-small;
  padding-top: 20px;

}

.Nocuenta {

  border: 1px solid rgba(202, 202, 202);
  width: 280px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.LetraRegistro {
  font-size: 12px;
  font-weight: light;
  color: rgba(38, 38, 38);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.span1 {
  font-size: 12px;
  font-weight: bold;
  color: rgba(101, 172, 235);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.DescargaApp {

  /* border: 2px solid red; */
  height: 20px;
  width: 280px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: rgba(38, 38, 38);

}

.Apps {
  /* border: 2px solid blue; */
  height: 40px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.Apps img {

  height: 100%;
  width: 90%;

}

.Prefooter {

  /* border: 2px solid orangered; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}

.AllFooter {

  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(171, 142, 142);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: smaller;
 



}

.footer {

  /* border: 2px solid black; */
  height: 50px;
  width: 1213px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
 
  font-family: var(--myfontvar2);
  font-size: small;
  color: rgb(207, 209, 213, 1);
  text-align: justify;
  text-decoration: none;

}

.footerin {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: justify;
  text-decoration: none;
  font-family: var(--myfontvar2);
  gap: 4px;
  


}
@media screen and (max-width: 790px) {
  .imagen{display: none;}
  
}

